<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/borderoptions.css">
    <link rel="stylesheet" href="../css/abtme.css">
    <link rel="icon" type="jpg" 
    href="../images/Imaging.jpg">
</head>
<body>

    <div class="border">
        <a href="/index.html">Home</a>
        <a href="/layout/aboutme.html">About Me</a>
        <a href="/layout/services.html">Services</a>
        <a href="/layout/contactme.html">Contact Me</a>
    </div>

<h1 class="text">About Me</h1>

<div class="container">
    <div class="box1">
        <h1>Informasi</h1>
        <p>Halo nama saya <b>Muhammad Nabigh Aiman Zahran</b> saya lahir di kotak <b>Bengkulu</b> pada tanggal <b>21 Febuary 2009</b> saya memliki 2 kakak dari 3 bersaudara. Saya belajar tentang programming sudah dari kecil, dengan belajar otodidak saya mempelajari dari perangkat keras terlebih dahulu, lalu baru masuk ke perangkat lunak mempelajari tentang front end.</p>
    </div>
    <div class="box2">
            <h1>2016</h1>
            <p>Pada 2016 saya mulai mempelajari tentang hal hal yang berbasis komputer dari bagian luar hingga dalama saya pelajari. Saya mencoba merakit komputer sendiri dengan bermodal kan <b>Youtube</b></p>
    </div>
    <div class="box3">
            <h1>2019</h1>
            <p>Pada 2019 saya berhenti belajar tentang programming dan saya mulai berjualan online lewat discord. Saya bermain game growtopia dan mulai berjualan disana hingga menghasilkan hampir 1jt/day.</p>
    </div>
</div>

<div class="containers">
    <div class="box4">
        <h1>2024</h1>
        <p>Saya berhenti berjualan online karna harga nya yang semakin menurun. Saya mulai belajar lagi tentang hal hal programming dan memulai nya dari awal hingga saya mengerti apa itu <b>Front End, Back End</b>.</p>
    </div>
    <div class="box5">
            <h1>2025</h1>
            <p>hingga sekarang saya mulai mengejar mimpi saya untuk berkuliah di salah satu universitas di <b>Bandung, universitas Padjajaran</b>. Saya harap saya bisa menggunakan kemampuan saya di masa depan dan berguna bagi oranglain</p>
    </div>
    <div class="box6">
            <h1>End</h1>
            <p>Saya harap kedepannya saya bisa berguna bagi semua orang, dan bisa memiliki pengetahuan yang luas agar menjadi orang yang sukses nantinya. Segitu saja informasi dari saya.</p>
    </div>
</div>

</body>
</html>